alabaster==0.7.9
aniso8601==1.2.0
awscli==1.11.169
autodoc==0.3
Babel==2.3.4
beautifulsoup4==4.5.3
botocore==1.7.14
cffi==1.9.1
click==6.7
cryptography==1.7.2
decorator==4.0.11
docutils==0.13.1
Flask==0.12.2
Flask-Ask==0.9.7
Flask-Testing==0.6.2
idna==2.2
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==0.23
pyasn1==0.2.1
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==16.2.0
python-dateutil==2.6.1
pytest==3.0.7
pytest-cov==2.5.1
pytz==2016.10
PyYAML==3.12
requests==2.13.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.4
sphinx-autodoc-typehints==1.2.3
sphinx-rtd-theme==0.2.4
tox==2.7.0
waitress==1.0.2
WebOb==1.7.1
WebTest==2.0.25
Werkzeug==0.12
wheel==0.30.0
zappa==0.44.3
